:root {
  --primary: #9c27b0;
  --primaryDark: #89119d;
  --secundary: #ffce00;
  -secundaryDark: rgb(233,287,2);
  --white: #ffffff;
  --black: #000000;
  --fontMain: 'Staatliches', cursive;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Globales */

body {
  background-color: var(--primary);
  font-size: 1.6rem;
  line-height: 1.5;
}
p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white); 
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
h1, h2, h3 {
  text-align: center;
  color: var(--secundary);
  font-family: var(--font);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
/* header */
.header {
  display: flex;
  justify-content: center;
}
.header__logo {
  margin: 3rem 0;
}
/* navegation */
.navegation {
  background-color: var(--primaryDark)  ;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;  
}
.navegation__link {
  font-family: var(--fontMain);
  color: var(--white);
  font-size: 3rem;
}
.navegation__link--active,  
.navegation__link:hover {
  color: var(--secundary);
}
/* footer */
.footer {
  background-color: var(--primaryDark);
  padding: 1rem 0;
  margin-top: 2rem;
}
.footer__text {
  font-family: var(--fontMain);
  text-align: center;
  font-size: 2.2rem;
}
/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
/* @media (min-width: 768px) {
   .grid {
    grid-template-columns: repeat(3, 1fr)    
   }
} */
/* products */
.product {
  background-color: var(--primaryDark);
  padding: 1rem;
}
.product__img {
width: 100%;
}
.product__name {
  font-size: 4rem;
  color: var(--secundary);
}
.product__name, 
.product__price {
  font-family: var(--fontMain);
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}
/* grafico */
.grafico {
min-height: 30rem;
}
.grafico--camisas {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  background-image: url(https://cdn.pixabay.com/photo/2017/02/15/12/12/cat-2068462_1280.jpg);
}
.grafico--node {
  background-image: url(https://cdn.pixabay.com/photo/2017/02/15/12/12/cat-2068462_1280.jpg);
  grid-row: 1 / 3;
  grid-column: 8 / 9;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);   
   }
  .grafico--node {
    grid-row: 5 / 6;
    grid-column: 2 / 4;
  }
}
/*- ************us************* */
.us {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
}
.us__img {
  grid-row: 1 / 2;
  width: 100%;
}


/*- ************BLOCKS************* */

.blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.block {
  text-align: center;
}
.block__title {
  margin: 0;
}
.block__img{
  width: 100%;
}

@media (min-width: 768px) {
  .us {
    grid-template-columns: repeat(2, auto);
  }
  .us__img {
    grid-column: 2 /3;
  }
  .blocks {
    grid-template-columns: repeat(4, auto);
  }
  .cat {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 2rem;
  }
}
/*- ************PRRODUCT************* */

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.form__space {
  border: 1rem solid var(--primaryDark);
  background-color: transparent;
  color: var(--white);
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  appearance: none;
}
.form__submit {
  background-color: var(--secundary);
  border: none;
  font-size: 2rem;
  font-family: var(--fontMain);
  padding: 2rem;
  transition: background-color .8s ease;
  grid-column: 1/3;
}
.form__submit:hover {
  cursor: pointer;
  background-color: var(--primaryDark);
}